* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d1d4;
}

h1 {
    padding: 2vmax;
    font-size: clamp(50px, 4vw, 500px);
}

.add-book-button {
    padding: 2vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    background-color: #f87171;
    border: none;
    border-radius: 1vmax;
    font-size: clamp(25px, 2vw, 250px);
    margin-bottom: 2vmax;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmax;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 2vmax;
    border-radius: 1vmax;
    gap: 1vmax;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(77,77,77,1);
}

.book p {
    overflow-wrap: break-word;
    max-width: 100%;
}

.book p, .book button {
    font-size: clamp(20px, 1.6vw, 200px);
}

.book button {
    width: 80%;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    background-color: rgb(252, 154, 43);
    border: none;
    border-radius: 0.8vmax;
}

.book button:not(:last-child) {
    background-color: #70e69b;
}

button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmax;
    width: 30vw;
    gap: 1vmax;
    margin-bottom: 2vmax;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(77,77,77,1);
    border-radius: 1vmax;
    font-size: clamp(25px, 2vw, 250px);
}

form input {
    width: 90%;
    font-size: inherit;
}

form button {
    font-size: clamp(30px, 2.4vw, 300px);
    width: 75%;
    padding-top: 0.8vmax;
    padding-bottom: 0.8vmax;
    border: none;
    border-radius: 1vmax;
    background-color: #70e69b;
}

#read {
    width: max(5vh, 3vw);
    height: max(5vh, 3vw);
}

form div {
    display: flex;
    align-items: center;
    gap: 0.5vmax;
    list-style: none;
}

@media (max-width: 500px){
    .book {
        width: 80vw;
    }
    form {
        width: 80vw;
    }
}