* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 1vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

li {
    list-style: none;
}